body{
    background-image: url(images/backgroundBBallFloor.jpg);
    background-size: cover;
    margin: auto;
}

#game{
    display: grid;
    grid-template-columns: 40% 1fr 40%;
}

img{
    margin: auto;
    display: block;
}

#buttons{
    margin: auto;
}

#reset{
    display: block;
    margin: auto;
}

#start{
    display: block;
    margin: auto;
}

button{
    background-image: url(images/ballButton.jpg);   
    border: 3px;
    border-color: black;
    border-style: solid;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 90px;
    height: 90px;
    border-radius: 50%; 
}

button:hover{
    background-image: url(images/ballButtonHover.jpg);       /*need to work on getting entire button to work*/  
}

#score{
    position: relative;
    text-align: center;
    color: white;
    max-width: 95%;
    margin: auto;
  }
#home{
    text-align: center;
    position: absolute;
    font-size: 40px;
    top: 16px;
    left: 630px;
}
#visitor{
    text-align: center;
    position: absolute;
    font-size: 40px;
    top: 16px;
    right: 590px;
}
#homeScore{
    position: absolute;
    font-size: 200px;
    top: -55px;
    left: 600px;
}
#visitorScore{
    position: absolute;
    font-size: 200px;
    top: -55px;
    right: 600px;
}

#playerHoop{
    height: auto;
    width: auto
}

#computerHoop{
    height: auto;
    width: auto
}